.rating {
  display: inline-block;
  position: relative;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: black;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #d43900;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: black;
  text-shadow: 0 0 5px #d43900;
}

aside {
  margin: 0px;
  color: #fff;
  background-color: #d43900;
  text-align: center;
}

.error-message {
  font-size: 16px;
  margin: 0px;
  padding: 13px;
}

.short-textfield[name="title"] {
  margin-top: 24px;
}

.short-textfield, 
.large-textfield {
  margin-right: 24px;
  margin-left: 24px;
  padding: 13px;
  font-size: 17px;
  width: calc(100% - 48px);
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.15);
}

.short-textfield {
  display: block;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  height: 43px;
  background-clip: padding-box;
}

.rating-input {
  margin-left: 24px;
  height: 43px;
}

.icon {
  font-size: 24px;
}

.large-textfield {
  font-family: "Roboto", sans-serif;
  min-height: 200px;
}

.modify-list button {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 4px 8px;
  margin-bottom: 0;
  vertical-align: middle;
  border-radius: 4px;
  text-align: center;
  border: 1px solid transparent;
}

.bookmark-submit {
  background-color: #008000;
  border-color: #4cae4c;
  color: #fff;
  float: left;
  margin-right: 8px;
  margin-left: 24px;
}

.modify-list-delete {
  background-color: #d43900;
  color: #fff;
  margin-right: 24px;
  float: right;
}